/*================ base colors ==================*/
/*================ White bg ==================*/
/*================ Font and typography ==================*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  background: -webkit-gradient(linear, left top, left bottom, from(#322885), color-stop(#fcec00), color-stop(#aecf80), to(#e0485d));
  background: linear-gradient(#322885, #fcec00, #aecf80, #e0485d);
}

li {
  list-style: none;

}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/*
h1,
h2,
h3 {
}
*/
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  display: block;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

.primary-header {
  background-color: #aecf80;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header_item-1 header_item-2 header_item-3";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header_item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header_item-1;
}

.header_item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header_item-2;
}

.header_item-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header_item-3;
}

nav {
  width: 100%;
  padding: 0;
  margin: 0;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  background-color: #e0485d;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@supports ((-webkit-backdrop-filter: blur(2rem)) or (backdrop-filter: blur(2rem))) {
  .primary-navigation {
    background-color: rgba(224, 72, 93, 0.4);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  max-height: 4rem;
}

@media (max-width: 39.9375em) {
  .primary-navigation {
    gap: 4em;
    position: fixed;
    inset: 0 0 0 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 350ms ease-out;
    transition: -webkit-transform 350ms ease-out;
    transition: transform 350ms ease-out;
    transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../../img/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 1rem;
    right: 1rem;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../img/icon-close.svg");
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  padding: 0;
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.feature {
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem repeat(4, 1fr);
  grid-template-areas: "feature__title" "profile__image" "profile__text" "feature__prestations" "feature__studio" "feature__blog";
}
@media (min-width: 40em) {
  .feature {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 1fr 1fr;
    grid-template-areas: "feature__title feature__title feature__title" "profile__image profile__text profile__text" "feature__prestations feature__studio feature__blog";
  }
}
.feature__item {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__title {
  grid-area: feature__title;
}

.profile__image {
  grid-area: profile__image;
}

.profile__text {
  grid-area: profile__text;
}

.feature__prestations {
  grid-area: feature__prestations;
}

.feature__studio {
  grid-area: feature__studio;
}

.feature__blog {
  grid-area: feature__blog;
}


.tout-les-articles {
  margin: 0;
  padding: 1.5vw;
  background-color: #fcec00;
}
.tout-les-articles h2 {
  font-family: "Permanent Marker", cursive;
  color: #4caa2b;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: calc(1rem + 3vw);
}

.chaque-article {
  max-width: 1800px;
  background: #aecf80;
}

.alignement-vertical-texte-article {
  display: block;
}

.alignement-vertical-texte-article, h3 {
  font-family: "Yellowtail", cursive;
  color: #aecf80;
  text-align: center;
  margin-left: 0vw;
  margin-right: 0vw;
  font-size: calc(0.75rem + 2vw);
}

.alignement-vertical-texte-article, p {
  font-family: "Pacifico", cursive;
  color: #4caa2b;
  text-align: start;
  margin-left: 0vw;
  margin-right: 0vw;
  font-size: 150%;
}

main {
  display: -ms-grid;
  display: grid;
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.feature-image-1, .feature-image-2 {
  padding: 1rem;
}

.main__a-propos {
  max-width: 60vw;
  margin: auto;
  background-color: #aecf80;
  padding: 2rem;
}

.main__1 {
  padding-bottom: 1rem;
}

.main__2 {
  padding-bottom: 1rem;
}

.main__3 {
  padding-bottom: 1rem;
}

.main__4 {
  padding-bottom: 1rem;
}

.main__5 {
  padding-bottom: 1rem;
}

.main__6 {
  padding-bottom: 1rem;
}

.main__7 {
  padding-bottom: 1rem;
}

.main__8 {
  padding-bottom: 1rem;
}

@media (min-width: 40em) {
  main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 3fr auto auto 5fr auto auto;
        grid-template-rows: 3fr auto auto 5fr auto auto;
        grid-template-areas: "main__1 main__3"
 "main__2 main__4"
 "main__5 main__5"
 "main__6 main__6"
 "main__7 main__7"
 "main__8 main__8";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: main__1;
  }
  .main__2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main__2;
  }
  .main__3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main__3;
  }
  .main__4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main__4;
  }
  .main__5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main__5;
  }
  .main__6 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main__6;
  }
  .main__7 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main__7;
  }
  .main__8 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main__8;
  }
}
/*# sourceMappingURL=main.css.map */

/*html {
  background: linear-gradient(
    $color-navy,
    $color-yellow,
    $color-green-light,
    $color-pink
  );
}*/
/*============ SAMPLE  ==============*/
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

.a-propos__title,
.contact__title {
  font-family: "Courgette", cursive;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2,
p {
  padding: 0.3em 0;
}

section,
footer {
  padding: 0 1.5em;
}

/*========== A Propos  ==============*/
#section-a {
  padding-bottom: 2em;
}

/*========== Contact  ==============*/
.contact .card__content {
  text-align: center;
  padding: 0em 0 1em 0;
}

.contact .card__icon a {
  color: #fff;
}

.contact .card__icon i {
  padding: 0 0 0 0.5em;
}

.contact .card__icon i:hover {
  color: #322885;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*========== Footer  ==============*/
.footer {
  text-align: center;
}

.footer a {
  text-decoration: underline;
}

.footer__icons i {
  padding-left: 0.3em;
}

.footer__icons i:hover {
  cursor: pointer;
  color: #322885;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 700px) {
  #section-a,
  .footer {
    margin: 0 3em;
    padding: 0;
  }
  .contact {
    padding: 3em 3em;
  }
  .contact .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(auto, 100%))[3];
        grid-template-columns: repeat(3, minmax(auto, 100%));
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .contact .grid .card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .grid .card__content {
    text-align: center;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-top: 3em;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer__title {
    text-align: start;
  }
  .footer__icons {
    text-align: end;
  }
}
/*# sourceMappingURL=main.css.map */

  padding: 5vw;
  font-size: calc(0.75rem + 1vw);
}

@media screen and (min-width: 900px) {
  .chaque-article {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
    padding: 1vw;
    display: flex;
    justify-self: auto;
    align-items: center;
  }

  .alignement-vertical-texte-article {
    width: 50vw;
  }
}/*# sourceMappingURL=main.css.map */

