/*========== Colors ========-*/
/*========== Font and typography ========-*/
/*========== Margins ========-*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcec00;
  color: #4caa2b;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  padding: 0;
  margin: 0;
}

.feature {
  width: 100%;
}

.feature {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem (1fr)[4];
      grid-template-rows: 5rem repeat(4, 1fr);
      grid-template-areas: "feature__title" "profile__image" "profile__text" "feature__prestations" "feature__studio" "feature__blog";
}

@media (min-width: 40em) {
  .feature {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 5rem 1fr 1fr;
        grid-template-rows: 5rem 1fr 1fr;
        grid-template-areas: "feature__title feature__title feature__title" "profile__image profile__text profile__text" "feature__prestations feature__studio feature__blog";
  }
}

.feature__item {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: feature__title;
}

.profile__image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: profile__image;
}

.profile__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: profile__text;
}

.feature__prestations {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: feature__prestations;
}

.feature__studio {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: feature__studio;
}

.feature__blog {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: feature__blog;
}

.header {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e0485d;
  color: #322885;
}

/* simplement mis pour les couleurs et la font*/
.tout-les-articles {
  background-color: #fcec00;
}

.tout-les-articles h2 {
  font-family: "Permanent Marker", cursive;
  color: #4caa2b;
  text-align: center;
  margin: 5vw;
  padding: 1vw;
  font-size: 300%;
}

.tout-les-articles .chaque-article {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
  padding: 1vw;
  background: #aecf80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tout-les-articles .chaque-article img {
  display: block;
  width: 40vw;
  height: 100%;
  padding: 1vw;
}

.tout-les-articles .chaque-article .alignement-vertical-texte-article {
  display: block;
  padding: 5vw;
  width: 50vw;
}

.tout-les-articles .chaque-article .alignement-vertical-texte-article h3 {
  font-family: "Yellowtail", cursive;
  color: #4caa2b;
  text-align: center;
  margin-left: 0vw;
  margin-right: 0vw;
  font-size: 200%;
}

.tout-les-articles .chaque-article .alignement-vertical-texte-article p {
  font-family: "Pacifico", cursive;
  color: #4caa2b;
  text-align: start;
  margin-left: 0vw;
  margin-right: 0vw;
  font-size: 150%;
}
/*# sourceMappingURL=main.css.map */