/*========== Colors ========-*/
$nav-bg-color: #e0485d;
$nav-text-color: #322885;
$body-color: #fcec00;
$body-text-color: #4caa2b;
$article-bg-color: #aecf80;
$transparent-bg: rgba(#e0485d, 0.4);

/*========== Font and typography ========-*/
$nav-font: "Source Sans Pro", sans-serif;
$h2-font: "Permanent Marker", cursive;
$h3-font: "Yellowtail", cursive;
$p-font: "Pacifico", cursive;

/*========== Margins ========-*/

// Border
