<<<<<<< Updated upstream
/*========== Colors ========-*/
$nav-bg-color: #e0485d;
$nav-text-color: #322885;
$body-color: #fcec00;
$body-text-color: #4caa2b;
$article-bg-color: #aecf80;

/*========== Font and typography ========-*/
$nav-font: "Source Sans Pro", sans-serif;
$h2-font: "Permanent Marker", cursive;
$h3-font: "Yellowtail", cursive;
$p-font: "Pacifico", cursive;

/*========== Margins ========-*/

// Border
=======
/*================ base colors ==================*/
$color-pink: #e0485d;
$color-navy: #322885;
$color-yellow: #fcec00;
$color-green: #4caa2b;
$color-green-light: #aecf80;

/*================ White bg ==================*/

/*================ Font and typography ==================*/
$body-font: "IBM Plex Sans", sans-serif;
$title-font: "Courgette", cursive;
//"Lobster", cursive;
>>>>>>> Stashed changes
