

/*================ base colors ==================*/
// $color-pink: #e0485d;
// $color-navy: #322885;
// $color-yellow: #fcec00;
// $color-green: #4caa2b;
// $color-green-light: #aecf80;
// $transparent-bg: rgba(#e0485d, 0.3);

// $primary-color: #fcec00;//1ere
// $secondary-color: #e0485d; //2eme
// $tertiary-color: #322885; //3eme - for nav text
// $quaternary-color: #4caa2b; //4eme - for body text
// $secondary-light:rgba(#e0485d, 0.3);
// $quaternary-light: #aecf80; // for body text background
// $quinary: white;

$primary-color: #F2AC97;
$secondary-color:#EE242C;
$tertiary-color: #3F826D;
$quaternary-color:#504746; //body text
$quinary-color: #F1D302;
$background-text: rgba(white, 0.1);
/*================ White bg ==================*/


