// html {
// font-size: 100%;
// box-sizing: border-box;
// }
//<<<<<<< Updated upstream *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(
    $color-navy,
    $color-yellow,
    $color-green-light,
    $color-pink
  );
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/*
h1,
h2,
h3 {
}
*/

img {
  max-width: 100%;
  height: auto;
}
