*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
} //to hide if the hidden menu is overflow

html {
  background: linear-gradient(
    $secondary-color,
    $primary-color,
    $quinary-color,
    $tertiary-color
  );
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}


h1,
h2,
h3,
p, figure {
  display: block;
  padding: 0;
  margin: 0;
}
section {
  padding: 0 1.5em;
}
