// html {
// font-size: 100%;
// box-sizing: border-box;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-color;
  color: $body-text-color;
  overflow-x: hidden; //to hide if the hidden menu is overflow
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}



img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3 {
  display: block;
  padding: 0;
}