$font-sm: 1.5rem;
$font-med: 1.8rem;
$font-large: 2.5rem;

@include breakpoint-up(large) {
$font-sm: 2rem;
$font-med: 2.5rem;
$font-large: 4rem;
}

body {
  color: $quaternary-color;
  font-weight: 300;
  font-style: italic;
  font-family: $title-font;
}
h1,
h2 {
  font-family: $title-font;
}
h1 {
  font-size: $font-large;
}
h2 {
  font-size: $font-med;
}
p {
  font-size: $font-sm;
}
